<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" tempDirectory="D:\Inetpub\vhosts\epackers.in\tmp" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <appSettings>
    <add key="c_token" value="" />
    <add key="em" value="" />
    <add key="cn" value="Q6cwbQ3kPOKT+qPxfIwjHpUT93GjyU6iITwPdOOfwES91AvqciwilkfFwn8jnKwbtKnirwbsTioGEbd/jJ5lMTnM3O+0fnm5qyjV7t1wQW+pHDLIrzct29mNVfuRdClTEthloE1BThGvYZwXBN8X3mxNg1KSEiV4gxpbLgK56h8gMjNOMo7Q7gm0PFXL2rAI" />
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="fromemail" value="webmails.noreply1@gmail.com" />
    <add key="emailpassword" value="jjokuqrxchythjmf" />
    <add key="toemail" value="activepackersmoversindia@gmail.com" />
    <!-- Google AdSense: publisher ID (ca-pub-XXXXXXXXXXXXXXXX) and ad unit slot IDs for the home page -->
    <add key="adsense_client" value="" />
    <add key="adsense_slot_top" value="" />
    <add key="adsense_slot_mid" value="" />
  </appSettings>
</configuration>